/* From Uiverse.io by xueyuantan */
.fadeButton {
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #ffa500;
  color: black;
  box-shadow: 6px 6px 12px #cf8907, -6px -6px 12px #bd8010;
}

.fadeButton::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.fadeButton:hover::before {
  width: 9em;
}
